.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.topContainer {
    background-image: url(../public/login/bg.jpg);
    padding-bottom: 100%;
} 